<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4"><img class="img-fluid" src="~/Imagens/Logo.png" alt="Card image cap">Orquestrador de Integrações</h1>

    </div>

    <!--Começou-->
    <!--Teminou-->

    <div class="text-left">

        <p><a href="../O2OUI" class="btn btn-primary btn-lg">Administração O2O &raquo;</a></p>
    </div>
</div>

