<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4"><img class="img-fluid" src="~/Imagens/Logo.png" alt="Card image cap">Orquestrador de Integrações</h1>

    </div>

    <p class="lead">Área de documentação das API's do orquestrador de integrações O2O.</p>
    <p class="lead">Nos menus API e Documentos você encontrará modelos de como consumir
    as chamadas de conectores, bem como o uso em trecho de softwares de cada chamada RESTFUL.</p>


    <p><a href="../O2OUI" class="btn btn-primary btn-lg">Administração O2O &raquo;</a></p>

</div>

    <div class="text-center">


    </div>


