@model IEnumerable<O2OUI.Models.SdmStatus>

@{
    ViewData["Title"] = "Index";
}

<div class="tabela">
    <div class="container">
        <p class="btnNovo">
            <a asp-action="Create" class="btn btn-outline-primary btn-sm">Nova Chamada SDM</a>
            <a asp-action="Index" asp-controller="SdmConectors" class="btn btn-outline-primary btn-sm">Conectores SDM</a>
        </p>
        @if (TempData["Confimacao"] != null)
        {
            <h6 class="alert-success">@TempData["Confirmacao"]</h6>
        }
        <form asp-action="Index" asp-controller="SdmStatus" method="post">
            <div class="form-group">
                <div class="input-group col-md-6">
                    <input class="form-control" name="txtProcurar" placeholder="Pesquisar Conector..."/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-search-plus"></i></button>
                    </div>
                </div>
            </div>
        </form>
        @await Html.PartialAsync("AbertoList", Model)
        @await Html.PartialAsync("ReabertoList", Model)
        @await Html.PartialAsync("FechadoList", Model)
        @await Html.PartialAsync("ResolvidoList", Model)

    </div>
</div>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja prosseguir com a exclusão de <text class="nome"></text></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btnExcluir">Sim</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function ExibirModal(id, nome) {
            $(".nome")[0].innerHtml = nome;

            $(".modal").modal();

            $(".btnExcluir").on('click', function () {
                $.ajax({
                    url: "SdmStatus/Delete",
                    method: "POST",
                    data: { id: id },
                    success: function (data) {
                        $(".modal").modal('hide');
                        location.reload(true);
                    }
                });
            });
        }
    </script>
}
