@model O2OUI.Models.Seguranca.PermissaoDeAcesso

@{
    ViewData["Title"] = "Create";
}

<div class="formulario">
    <h6>Nova Permissão</h6>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" class="form border rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IpPermitido" class="col-form-label">Ip Permitido</label>
                    <input asp-for="IpPermitido" class="form-control form-control-sm" />
                    <span asp-validation-for="IpPermitido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-outline-success btn-sm" />
                    <a asp-action="Index" class="btn btn-outline-dark btn-sm">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}